PORT=3001
API_URL=https://linkoo.dev
VITE_API_URL=https://linkoo.dev/api
FRONTEND_URL=https://linkoo.dev

MONGODB_URI=mongodb://localhost:27017/linkoo

JWT_SECRET=your-secret-key-at-least-32-characters-long

GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

VK_CLIENT_ID=5xxxxxx
VK_CLIENT_SECRET=xxxxxxxxxxxxxxxxx

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

GITHUB_CLIENT_ID=Oxxxxxxxxxxxxxxxxxx
GITHUB_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

YUKASSA_SHOP_ID=1000000
YUKASSA_SECRET_KEY=test_X-XXXXXXXXXXX...
YUKASSA_RETURN_URL=http://localhost:3000/premium/payment-result

MONGO_ROOT_USER=user
MONGO_ROOT_PASSWORD=pass
MONGO_DB_NAME=linkoo
MONGO_PORT-27017
